*{margin: 0;
  padding: 0;
  box-sizing: border-box;  
 }

html{
    height: 100%;
    overflow: hidden;
}
body{
    min-height: 100%;
    background-color: rgb(121, 112, 115);
    font-family: 'Lobster', cursive;
    font-size:20px;
    background-image: url(../images/imagenbackground2.jpg); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}  

    	                        /* Estilo Header */
.header{
    height: 20%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.905);
    border-bottom:2px dashed rgba(255, 255, 255, 0.905);
    font-size: 1rem;
    font-family: 'Lobster';
    display: flex;
    justify-content: space-between;
    align-items: center;

}

a{
    text-decoration: none;
}




.header-tit{
    display: block;
    font-size: 25px;
    color: rgba(58, 51, 164, 0.905);
    text-align: center;
    text-transform: uppercase;
    position: relative;
    left: 5%;
    box-shadow: ;
}

.header-sub{
    display: block;
    font-size: 20px;
    color: rgba(179, 7, 7, 0.905);
    position: relative;
    left: 40%;
    top: 30%;
    
}

.desplegar, .replegar {
    font-size: 1.5rem;
    cursor:pointer;
    transition: 0.5s;

    display: block;

    color: aliceblue;

}

.desplegar{
    font-size: 4rem;
    justify-self: end;
    order: 1;
    margin-right: 5%;
    position: relative;
    top: 30%;
    
}

.nav{
    width: 50%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.990);
    position: fixed;
    top: 20%;
    right: -100%;
    justify-items: center;
    border-left: 2px dashed rgba(255, 255, 255, 0.905);
    border-bottom: 2px dashed rgba(255, 255, 255, 0.905);
    transition: all .7s;
    z-index: 4;

}

.nav a{
   display: block;
   text-align: center;
   margin: 10px;
   padding: 5px;
   color: rgba(255, 255, 255, 0.905);

}

.nav a:hover{
    background-color: rgba(255, 255, 255, 0.800);
    transition: 0.5s;
}

.replegar{
    position: relative;
    left: 45%;
    bottom: 5%;
    font-size: 3rem;

}

#check{
    display: none;
}

#check:checked~ nav{
    right: 0%;
}

@media only screen and (min-width:1024px) {
    .desplegar, .replegar{
        display: none;
    }

    .header{
        width: 100%;
    }

        .nav {
            height: 30%;
            width: auto;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            position: relative;
            right: 1%;
            top: 28%;
            border: 2px dashed rgba(255, 255, 255, 0.905);
            background-color: rgba(0, 0, 0, 0.96);
            transition: 0s;
            align-items: center;
    
}
}

                                /* Estilo Main Index */

.agenda{
    border: 2px dashed rgba(255, 255, 255, 0.905)ite;
    background:rgba(0, 0, 0, 0.905);
    padding: 10px;
    position: fixed;
    bottom: 20%;
    display: flex;
    justify-content: center;
    
    height: 55vh;
    width: 100%;
    overflow: hidden;
    
}

.marco-agenda {
    padding: 20px;
    border: 2px dashed rgba(255, 255, 255, 0.905);
    
   
}

.agenda__titulo{
    color: rgba(255, 255, 255, 0.905);
    font-size:1.5rem;
}
.agenda__boton{
    padding: 25px;
    border-radius: 50%;
    border: 2px dashed  rgb(255, 255, 255);
    text-align: center;

    background-color:rgb(88, 85, 85);
    color: rgb(193, 62, 62);
    font-size: 25px;
    text-decoration: none;
    position: relative;
    left: 20%;
    top: 30%;

    box-shadow: 0px 5px 0px rgb(50, 47, 47);
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.905);   
}
.agenda__boton:hover{
    background-color: rgba(88, 78, 78, 0.900) ;
}
.agenda__boton:active{
    background-color: rgba(54, 52, 52, 0.36);
}
 @media only screen and (min-width:350px) {

     #marco-agenda {
         display: flex;
         justify-self: center;
         position: absolute;
         left: auto ;
       
     }
 }

                                        /* Estilo Aside */

.aside__redes{
    width: 55px;
    height: 200px;

    background-color: rgba(0, 0, 0, 0.786);
    border: 2px dashed rgba(255, 255, 255, 0.905);

    margin-right: 20px;
    
    position: absolute;
    top: 40%;
    left: 10px;

    display: flex;
    flex-direction: column;
    z-index: 3;
}

.aside__ul li img{
    width:80% ;
    height:100%;
    position: relative;
    left: 20%;
}
.aside__ul{
    height: 100%;
    width: 80%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
        
}

.aside__ul li a:hover{
    background-color: transparent;
    display: flex;
    justify-content: center;
    max-width: 110%;
    height: 100%;
}

@media only screen and (min-width:1024px) {
.aside__redes{
    
}

}

                                    /* Estilo Footer */
.footer{
    width:100%;
    height: 16%;
    border-top: 2px dashed rgba(255, 255, 255, 0.905);
    background-color: rgba(0, 0, 0, 0.905);
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.905);

    display: flex;
    flex-direction: row;
    justify-content:flex-start;

    position: absolute;
    bottom: 1px;
    
}

.footer__tit{
    position: relative;
    left: 2%;
    top: 2%;
}

.footer__ul{
    font-size: 0.8rem;
    position: absolute;
    left: 7%;
    top: 25%;
}

.footer__ul li a{
    text-decoration:none;
    color: rgba(255, 255, 255, 0.905);
}

 .contenedor-map{
   
    height: 90%;
    width: 30%;

    display: flex;
    position: absolute;
    right: 2%;
    top: 5%;

    border: 2px solid rgba(255, 255, 255, 0.90);
    justify-content: center;
       
}

.footer__map{
    width: 98%;
    height: 92%;
    align-self: center;
    
} 

 .img-map{
    width: 8%;
    height: 20%;

    display: flex;
    align-self: center;

    position: absolute;
    bottom: 70%;
    left: 55%;

}

.footer-copy{
    width: 20px;
    height: 20px;
    
    position: absolute;
    bottom: 1%;
    left: 1%;
}
.footer__p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8px;
    color: white;
    position: absolute;
    left: 8%;
    bottom: 5%;
    
}

.separador {
    width: 0.5%;
    height: 90%;

    border: 3px dashed rgb(155, 155, 155);

    display: none;
    

} 

@media only screen and (min-width:450px) {

    .footer__p{
        left: 4%;
    }

    .footer__ul{
        left: 4%;
    }
    .img-map {
            width: 5%;
            left: 60%;
        }
}

@media only screen and (min-width:950px) {

    .footer__p {
        left: 3%;
    }

    .footer__ul {
        left: 3%;
    }

    .img-map{
        width: 3%;
        left: 60%;
    }
}

                                 /* Estilo Secci칩n Desastre's  */
.main-sDe{
    width: 100%;
    height: 60vh;
    font-size: 1rem;
    
    background-color: rgba(0, 0, 0, 0.905);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    overflow-y: scroll;

    position: absolute;
    top: 22%;
}

.section-sDe{
    height: 40%;
    width: 100%;
}
.img-sDe{
    width: 80%;
    height: 200px;

    border: 2px dashed rgba(255, 255, 255, 0.905);
    margin-left: 10%;
    margin-top: 5%;
    justify-self: flex-start;
    

}

.article-db{ 
    width: 80%;
    height: 90%;
    color: rgba(255, 255, 255, 0.905);

    border: 2px dashed rgba(255, 255, 255, 0.905);

    overflow-y: scroll;

    position: relative;
    left: 10%;
    top: 5%;

}

.section-local{
    height: 40%;
    width: 80%;
}

.article-local{
    border: 2px dashed rgba(255, 255, 255, 0.905);
    color: rgba(255, 255, 255, 0.905);
    text-align: center;
    position: relative;
    bottom: 45%;
    left: 12%;

}

.article-img{
    width: 80vw;
    height: 30vh;

    border: 2px dashed rgba(255, 255, 255, 0.905);

    position: relative;
    left: 12%;
    bottom: 30%;
}

.img-interior {
    width: 100%;
    height: 100%;

   
}


.article-p{
    width: 100%;
    height:80%;
    color: rgba(255, 255, 255, 0.905);
    border: 2px dashed rgba(255, 255, 255, 0.905);

    position: relative;

    left: 12%;
    bottom: 20%;
}



.boton{

     position:relative;
     left: 50%;
     bottom: 5%;
}

@media only screen and (min-width:600px){
    .main-sDe{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .
    
}



                        /* Estilo secci칩n dise침os */

body{
    height:100vh;
}

.main-galeria{
    height:80%;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-self: center;
}

.contenedor-galeria{
    display: block;
    max-height: 65%;
    width: 90%;
    display: flex;
    justify-content: center;
    justify-self: center;
    margin-left: 25%;
    margin-top: 40%;
    overflow-y: scroll;
    
}

.img{
    width: 80%;
    height: 150px;
    border: 2px dashed rgba(255, 255, 255, 0.905);
    background-color: rgba(0, 0, 0, 0.905);
    margin-left: 5%;
}

.img img{
    margin-top: 1.5%;
    margin-left: 1.5%;
   ;
}

.img:hover{
   
    width: 80%;
    height: 80%;
    transition: 1s;
    transition-delay: ease-in;
    position: relative;
    right: 5%;
    
}

@media only screen and (max-width: 380px) {
   
     
    .contenedor-galeria{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
        gap: 20px;
        margin-top: 10%;
    }

    
    .img img{
        width: 98%;
        height: 98%;
        
 
    }
}

@media only screen and (min-width:381px) and (max-width:480px) {
    
    .contenedor-galeria {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(8, 1fr);
            gap: 20px;
            margin-top: 10%;
            margin-left: 20%;
        }

        .img{
            width: 80%;
            height: 200px;

        }
    
    
        .img img {
            width: 98%;
            height: 98%;
            margin: 1%;
    
    
        }
        

}

@media only screen and (min-width: 481px) and (max-width: 768px){ 
     .main-galeria{
        width: 100%;
        height: 80%h;
        margin: 0%;
    }
    
    body{
        width: 100%;
    }
    .contenedor-galeria {
        width: 100%;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 20px;
        align-self: center;
        margin-left: 15%;
        margin-top: 1%;
        position: relative;
        bottom: 10%;

    
        
       
    }

    .img{

        width: 80%;
        height: 180px;
        align-items: center;
        border: 2px dashed rgba(255, 255, 255, 0.905);
        justify-self: s;        
    }

    .img img {
        width: 98%;
        height:98%;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1023px) {
    
    .main-galeria{
        width: 100%;
        height: 80%h;
        margin: 0%;
    }
    .contenedor-galeria {

        width: 90%;
        height: 60%;

        display: grid;
        grid-template-columns:auto auto auto ;
        grid-template-rows: auto auto auto;
        gap: 20px;
        align-items: center;
        margin-left:3% ;
        margin-top: 5%;
    
    }

    .img {
        width:100%;
        height: 210px;
        border: 2px dashed rgba(253, 253, 253, 0.905);
        
    }

    .img img {
        width: 98%;
        height: 98%;
    }

}

@media only screen and (min-width: 1024px) {
    
    .contenedor-galeria {
        width: 90%;
        height: 60%;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 30px;

        margin-top: 5%;
        margin-left: 5%;
       
    }

    .img {
        width: 210px;
        align-self: start;
        border: 2px dashed rgba(255, 255, 255, 0.905);
        
    }

    .img img {
        width: 98%;
        height: 98%;
    }
}






                                /* Estilo secci칩n Agenda Web */

.main__calendario{
     width: 100%;
     height: 60vh;

     background-color: rgba(0, 0, 0, 0.905);
     border-top: 2px dashed rgba(255, 255, 255, 0.905);
     border-bottom: 2px dashed rgba(255, 255, 255, 0.905) ;

    display: flex;
    align-content: center;

    position: relative;
    
    top: 2%;

    display: flex;
    justify-content: center;
}
 .article__titulo--calendario{
        
        display: flex;
        justify-content: center;
        
}

.titulo__calendario{
        z-index: 3;
        color: rgba(255, 255, 255, 0.905);
        width: fit-content;
    
        padding: 5px;
        border: 2px dashed rgba(255, 255, 255, 0.905);

        position: relative;
        top: 5vh;
}

.article__calendario{
   width: 100vw;
   height: 30vh;

   padding: 10px;
   border: 2px dashed rgba(255, 255, 255, 0.905);
   background-color: rgba(255, 255, 255, 0.905);
   
   position: relative;
   top: 8vh;
}



.article__boton{
    width: 150px;
    height: 50px;
    
    border: 2px dashed rgba(255, 255, 255, 0.905);
    display: flex;
    justify-self: center;
    
    position: relative;
    top: 35%;
    left: 35%;

} 

.article__boton a{
    align-self: center;
    position: relative;
    left: 10%;

    text-decoration: none;
    color: rgba(255, 255, 255, 0.905);
    

}

.article__boton:hover{
    background-color: rgba(255, 255, 255, 0.800);
    transition: 0.5s;
    
}

@media only screen and (min-width:500px) {

    .article__boton{
        left: 35% ;   
    }
}

@media only screen and (min-width:600px) {

    .article__boton {
        left: 40%;    
    }
}

@media only screen and (min-width:600px) {

    .article__boton {
        left: 40%;
    }
}

@media only screen and (min-width:600px) {

    .article__boton {
        left: 42%;
    }
}

@media only screen and (min-width:1024px) {

    .article__boton {
        left: 45%;
    }
}

                            /* Nuestros Servicios */

.main-lista{
    width: 100%;
    height: 60vh;
    background-color: rgba(0, 0, 0, 0.905);

    display: flex;
    align-content: center;
    justify-content: center;

    margin-top: 4%;

    border-top: 2px dashed rgba(255, 255, 255, 0.905);
    border-bottom: 2px dashed rgba(255, 255, 255, 0.905);


    
}

.titulo{
    width: 110%;
    height: 6vh;
    font-size: 1.2rem;
    margin-top: 30%;
    margin-left: 5%;
    
    display: flex;
    align-content: center;

    color: rgba(255, 255, 255, 0.905);
    border: 2px dashed rgba(255, 255, 255, 0.905);
    
}

.titulo h3{
   padding: 2% ;
   margin-left: 3%;
}

.listado{
    width:70vw;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.907);

    color: rgba(0, 0, 0, 0.905);

    position: absolute;
    top: 40%;
    left: 25%;


}

.servicios{
    background-color: rgba(58, 51, 164, 0.905);
}

.precios{ 
    background-color:rgba(179, 7, 7, 0.905);

}

td{
    background-color: rgba(255, 255, 255, 0.905);
}

@media only screen and (min-width:400px) {
    
    .listado{
        left: 20%;
        top: 42%;
    }

    .main-lista{
        margin-top: 3%;
    }
    
}

@media only screen and (min-width:600px) {
    .main-lista {
            margin-top: 2%;
        }
    
}

@media only screen and (min-width:700px) {
    .listado {
        left: 18%;
        top: 43%;
    }

        .main-lista {
            margin-top: 1%;
        }

}

@media only screen and (min-width:700px) {
    .listado {
        left: 18%;
        top: 45%;
    }
}











    
    




                                                                                                                                                                                                                                                                                                                